.wrapper {
    width: 320px;
    padding: 20px;
}

.top-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.follow-btn {
    padding: 6px 16px;
}

.user-avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
}

.body-info {
    margin-top: 12px;
    color: #161823;
}

.bottom-info {
    display: flex;
    margin-top: 8px;
}

.analyst {
    font-weight: 600;
}

.analyst ~ .analyst {
    margin-left: 8px;
}

.label {
    margin-left: 4px;
}
