.wrapper {
    font-size: 1.6rem;
    border-radius: 4px;
    padding: 0 16px;
    height: 36px;
    line-height: 36px;
    font-weight: 700;
    cursor: pointer;
    border: 1px solid transparent;
    background-color: var(--white);
    user-select: none;
    display: flex;

    + .wrapper {
        margin-left: 16px;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.icon {
    display: inline-block;
    width: 20px;
    text-align: center;
}
// Button types

.rounded {
    border-radius: 52px;
    border-color: rgba(22, 24, 35, 0.12);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
    }
}

.outline {
    color: var(--primary);
    border-color: currentColor;
    &:hover {
        border-color: currentColor;
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.primary {
    background-color: var(--primary);
    color: var(--white);
    border: none;
    &:hover {
        background: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.06),
                rgba(0, 0, 0, 0.06)
            ),
            var(--primary);
    }
}

.text {
    border-color: rgba(22, 24, 35, 0.12);
    border-radius: 2px;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

//  Button size
.small {
    min-width: 88px;
    padding: 4px 8px;
    font-weight: 600;
}
