.wrapper {
    width: 100%;
    height: var(--default-header-height);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
    position: fixed;
    display: flex;
    z-index: 10;
    background-color: var(--white);
    justify-content: center;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;
    padding: 0 24px 0 16px;
}



.logo {
    display: flex !important;
}

.inner {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.custom-btn {
    color: rgba(22, 24, 35, 0.75);
}

.action {
    display: flex;
    align-items: center;
}

.more-btn {
    margin-left: 16px;
    background-color: var(--white);
    padding: 0 4px;
    cursor: pointer;
}

.more-icon {
    width: 20px;
    height: 20px;
    display: block;
}

.avatar-menu {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-left: 24px;
    cursor: pointer;
}

.action-btn {
    background-color: transparent;
    margin-left: 16px;
    cursor: pointer;
    display: flex;
    position: relative;
    height: 32px;
    width: 32px;
    align-items: center;
}

.badge {
    position: absolute;
    top: -20%;
    left: 16px;
    font-size: 14px;
    color: var(--white);
    background-color: var(--primary);
    border-radius: 10px;
    min-width: 20px;
    height: 20px;
    font-weight: 600;
    // padding: 0 5px;
}
