.wrapper {
    width: 100%;
    height: var(--default-header-height);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
    display: flex;
    justify-content: center;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;
}

.inner {
    height: 100%;
    width: var(--default-header-width);
    // width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
}
.search {
    width: 500px;
    height: var(--search-height);
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: 92px;
    display: flex;
    position: relative;
    border: 1.5px solid transparent;
    &:focus-within {
        border: 1.5px solid rgba(22, 24, 35, 0.12);
    }

    input {
        flex: 1;
        height: 100%;
        outline-style: none;
        background-color: transparent;
        border: none;
        color: var(--black);
        padding-left: 16px;
        font-size: 1.6rem;
        font-weight: 300;
        caret-color: var(--primary);
    }

    &::after {
        content: "";
        position: absolute;
        top: var(--search-top-spacer);
        right: var(--search-button-width);
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        background-color: rgba(22, 24, 35, 0.12);
        width: 1px;
    }

    input:not(:placeholder-shown) ~ .search-btn {
        cursor: pointer;
        background: rgba(22, 24, 35, 0.06);
        color: var(--black);
    }
}
.loading,
.clear-btn {
    border: none;
    outline: none;
    position: absolute;
    right: calc(var(--search-button-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.4);
}

.search-btn {
    height: 100%;
    width: var(--search-button-width);
    outline: none;
    border: none;
    border-top-right-radius: 92px;
    border-bottom-right-radius: 92px;
    color: rgba(22, 24, 35, 0.4);
    font-size: 2rem;
    padding-right: 6px;
    &:hover {
        cursor: pointer;
        background: rgba(22, 24, 35, 0.06);
        color: var(--black);
    }
}
